@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slider {
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
}

.left-slider > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.left-slider h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: -30px;
}

.left-single-slide:nth-of-type(1) {
    background-color: #FD3555;
}

.left-single-slide:nth-of-type(2) {
    background-color: #2A86BA;
}

.left-single-slide:nth-of-type(3) {
    background-color: #252E33;
}

.left-single-slide:nth-of-type(4) {
    background-color: #FFB866;
}

.right-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
}

.right-slider > div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.down-button {
    transform: translateX(-100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.up-button {
    transform: translateY(-100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}